= form_tag login_url do
  .form-group
    = label_tag 'Login'
  .form-group
    = text_field_tag :username, params[:username], :placeholder => 'Username', :class => 'form-control'
  .form-group
    = password_field_tag :password, params[:password], :placeholder => 'Password', :class => 'form-control' 
  .form-group
    = link_to 'Create a new account?', register_url

  = submit_tag 'Login', :class => 'btn btn-primary'