%h1
  Sign
  %small in
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { multipart: true }) do |f|
  .form-group
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true , :class => "form-control"
  .form-group
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off", :class => "form-control"
  - if devise_mapping.rememberable?
    .checkbox
      %label
        = f.check_box :remember_me
        Remember me
  = render "users/shared/links"
  %br/
  = f.submit "Login" , :class => "btn btn-primary"
= devise_error_messages!
