%h1
  Joined
  %small
    Projects
%br/
%table{:class => "table table-hover"}
  %thead
    %tr
      %th
        Title
      %th
        Description
      %th
        Actions
  %tbody
    - @other_projects.each do |member|
      %tr
        %td
          = link_to "#{member.project.title}", project_view_url(member.project)
        %td
          = member.project.description
        %td
          = link_to "Stories", project_stories_url(member.project)
          |
          = link_to "Members", project_members_url(member.project)