#project{:value=>"#{@project.id}"}

#open.col-lg-4
  .column
    %h4
      Open
    .docker
      - @project.stories.open.each do |story|
        - if story.member_stories.find_by(:project_member_id => @project.project_members.find_by(:user_id=> current_user.id)) != nil
          .docker-item
            %input{:type=>"hidden", :value=>"#{story.id}"}
            %div.story-title
              %h5
                %small
                = story.id 
                |
                = story.name
            %div
              %p
                = story.description
      %div
#doing.col-lg-4{:style=>"height:900px;"}
  .column
    %h4
      Doing
    .docker
      - @project.stories.doing.each do |story|
        .docker-item
          %input{:type=>"hidden", :value=>"#{story.id}"}
          %div.story-title
            %h5
              %small
              = story.id 
              |
              = story.name
          %div
            %p
              = story.description
      %div
#done.col-lg-4
  .column
    %h4
      Done
    .docker
      - @project.stories.done.each do |story|
        .docker-item
          %input{:type=>"hidden", :value=>"#{story.id}"}
          %div.story-title
            %h5
              %small
              = story.id 
              |
              = story.name
          %div
            %p
              = story.description
      %div


%div{:class=>"modal fade",id:"storyModal",tabindex:"-1", role:"dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type:"button",class:"close","data-dismiss"=>"modal","aria-label"=>"Close"}
          %span{"aria-hidden"=>"true"}
            &times;
        %h4.modal-title
          User
      .modal-body
        
        .row
          .col-lg-2
          .col-lg-8
            .form-group
            %input{:type=>"hidden", :placeholder=>"Task name",:class=> "form-control",:id=>"project_id", :value=>""}
              %input{:type=>"hidden", :placeholder=>"Task name",:class=> "form-control",:id=>"story_id", :value=>""}
              %input{:type=>"text", :placeholder=>"Task name",:class=> "form-control",:id=>"task_name"}
            %br/
            .form-group
              %input{:type=>"text",:placeholder=>"Task description", :class=> "form-control",:id=>"task_description"}
            %br/
            %input{:type=>"button",:value=>"Add",:class=>"btn btn-success", :onclick=>"submit_task()"}
          .col-lg-2
        %br/
        %h4
          Tasks
        .content
      .modal-footer
        %button{type:"button",class:"btn btn-default","data-dismiss"=>"modal"}
          Close