%h1
  = @project.title
  %small
    Stories
    - if @assigned_user
    -else
      = link_to 'Add Story', new_project_story_url(:project_id => @project.id),:class => "btn btn-success pull-right", role: "button", remote: :true
%br/
%table{:class => "table table-hover"}
  %thead
    %tr
      %th
        Title
      %th
        Description
      %th
        Actions
  %tfoot
    %tr
      %td{colspan:"3"}
        %center
          = will_paginate @stories
  %tbody
    - @stories.each do |story|
      - if @assigned_user == true && story.member_stories.find_by(:project_member_id => @project.project_members.find_by(:user_id=> current_user.id)) != nil
        %tr
          %td
            = story.name
          %td
            = story.description
          %td
            = link_to "Tasks", project_story_tasks_url(@project, story)
            |
            = link_to "Documents", project_story_story_files_url(@project,story)
      -else
        - if @project.user.id == current_user.id
          %tr
            %td
              = story.name
            %td
              = story.description
            %td
              = link_to "Edit", edit_project_story_url(@project, story)
              |
              = link_to "Tasks", project_story_tasks_url(@project, story)
              |
              = link_to "Documents", project_story_story_files_url(@project,story)
              |
              = link_to "Assigned Members", project_story_assigned_members_url(@project,story)
      